<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
  <link type="text/css" rel="stylesheet" href="style.css" media="screen"/>
  <link rel="stylesheet" href="/assets/css/semantic.css">
  <title>Generic Twitter Application</title>
</head>
  

<section class="ui-container">
  <%- partial("includes/_header.ejs") %>
  <%- partial("includes/_login.ejs") %>
  <%- partial("includes/_sponsors.ejs") %>
</section>
</body>
</html>