<section class="ui center aligned grid segment">
  <section class="ui row">
    <p> Supported by ... </p>
  </section>
  <section class="ui three column row">
    <div class="ui column">
       <img class="ui image" src="assets/images/Beer.png">
    </div>
    <div class="ui column">
      <img class="ui image" src="assets/images/Nicotine.png">
    </div>
    <div class="ui column">
      <img class="ui image" src="assets/images/JunkFood.png">
    </div>
  </section>
</section>